-#フォーム[数値]
.media
  .media-body.media-middle
    %form.form-horizontal
      .form-group-template
        = label_tag "form[#{ form_item.id }]", form_item.label, class: 'control-label col-sm-4'
        .col-sm-8
          = number_field_tag "form[#{ form_item.id }]", form_item.value, class: 'form-control', placeholder: '数値を入力してください'
  .media-right.media-middle.text-nowrap
    = link_to '編集', edit_form_item_path(form_item)
    = link_to '削除', form_item, method: :delete, data: { confirm: t('message.delete_confirm') }, class: 'delete-action'
