= simple_form_for @checklist_template do |f|
  = f.error_notification

  .form-inputs
    = f.input  :title
    = f.input  :description, input_html: { rows: 3 }

  .form-group
    .form-actions
      = f.button :submit
