.row
  .col-xs-7
    %ol.breadcrumb
      %li.active= t('activerecord.models.checklist_template')
  .col-xs-5
    .text-right
      = link_to '新規作成', new_checklist_template_path, { role: 'button', class: 'btn btn-default' }
  .col-xs-12
    .page-header
      %h3 #{ t('activerecord.models.checklist_template') }一覧

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th アクション
        %th= t('activerecord.attributes.checklist_template.title')
        %th= t('activerecord.attributes.checklist_template.description')
        %th= t('activerecord.attributes.checklist_template.checklists_count')
        %th= t('activerecord.attributes.checklist_template.updated_at')
        %th= t('activerecord.attributes.checklist_template.updater')
    %tbody
      - @checklist_templates.each do |checklist_template|
        %tr
          %td.text-nowrap
            = link_to '詳細', checklist_template
            \|
            = link_to '削除', checklist_template, method: :delete, data: { confirm: t('message.delete_confirm') }
          %td= checklist_template.title
          %td= truncate checklist_template.description, length: 30
          %td.text-right= checklist_template.checklists_count
          %td= checklist_template.updated_at
          %td= checklist_template.updater
