= simple_form_for @template do |f|
  = f.error_notification

  .form-inputs
    = f.input  :title, autofocus: true
    = f.input  :description, input_html: { rows: 3 }
    - if (action_name == 'new' || action_name == 'create')
      = f.input  :creator
    - if (action_name == 'edit' || action_name == 'update')
      = f.input  :updater

  .form-group
    .form-actions
      = f.button :submit
