.row
  .col-xs-7
    %ol.breadcrumb
      %li= link_to t('activerecord.models.template'), templates_path
      %li.active 詳細
  .col-xs-5
    .text-right.link-button-group
      = link_to '割り当て', new_template_checklist_path(@template), { role: 'button', class: 'btn btn-default' }
  .col-xs-12
    .page-header
      %h3
        = @template.title
        %small
          = link_to '編集', edit_template_path(@template)
          = link_to '削除', @template, method: :delete, data: { confirm: t('message.delete_confirm') }, class: 'delete-action'

.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= t('activerecord.attributes.template.id')
      %dd= @template.id
      %dt= t('activerecord.attributes.template.checklists_count')
      %dd= @template.checklists_count
  .col-xs-6
    %dl.dl-horizontal
      %dt= t('activerecord.attributes.template.updated_at')
      %dd= @template.updated_at
      %dt= t('activerecord.attributes.template.updater')
      %dd= @template.updater
  - if @template.description.present?
    .col-xs-12
      .panel.panel-default
        .panel-body= auto_link_text(@template.description)

%hr.separator

- if @form_items.present?
  %ul#sortitem.list-inline.text-right
    - if @sortable
      %li= link_to '並び替えOFF', template_path(@template, anchor: :sortitem)
    - else
      %li= link_to '並び替えON',  template_path(@template, anchor: :sortitem, sortable: true)
  %hr

- klass = @sortable ? 'item-sortable' : ''
%div{ class: klass, data: { update_url: reorder_template_form_items_path(@template) } }
  - @form_items.each do |item|
    - locals = { item: item, form_items: @form_items, sortable: @sortable }
    = render partial: "form_items/template/#{ item.class.name.underscore }", locals: locals

- unless @sortable
  - if @form_items.present?
    %hr
  %ul#additem.list-inline.text-right
    %li= link_to '項目の追加', new_template_form_item_path(@template)