= simple_form_for [@template, @checklist] do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, autofocus: true
    = f.input :start_at
    = f.input :due_at
    = f.input :checker

  .form-group
    .form-actions
      = f.button :submit
