.row
  .col-xs-7
    %ol.breadcrumb
      %li.active= t('activerecord.models.checklist')
  .col-xs-12
    .page-header
      %h3 #{ t('activerecord.models.checklist') }一覧

.text-center
  .btn-group{ role: 'group', "aria-label": '...' }
    %button.btn.btn-default.active{ type: 'button' } すべて
    %button.btn.btn-default{ type: 'button' } 提出済み
    %button.btn.btn-default{ type: 'button' } 未提出

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= t('activerecord.attributes.checklist.title')
        %th= t('activerecord.attributes.checklist.start_at')
        %th= t('activerecord.attributes.checklist.due_at')
        %th= t('activerecord.attributes.checklist.checker')
        %th ステータス
    %tbody
      - @checklists.each do |checklist|
        %tr
          %td= link_to truncate(checklist.title, length: 30), checklist
          %td= checklist.start_at.to_s(:time)
          %td= checklist.due_at.to_s(:time)
          %td= checklist.checker
          %td= status_or_progress(checklist)
