%h3 チェックリスト実施状況

.btn-group{ role: 'group', "aria-label": '...' }
  %button.btn.btn-primary{ type: 'button' } すべて
  %button.btn.btn-default{ type: 'button' } 提出済み
  %button.btn.btn-default{ type: 'button' } 未提出

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th ID
        %th タイトル
        %th 担当者
        %th 開始日時
        %th 期限
        %th ステータス
    %tbody
      - @checklists.each do |checklist|
        %tr
          %td= link_to '詳細', checklist
          %td= checklist.id
          %td= checklist.title
          %td= checklist.checker
          %td= checklist.start_at
          %td= checklist.due_at
          %td=

