.row
  .col-xs-7
    %ol.breadcrumb
      %li= link_to t('activerecord.models.checklist'), checklists_path
      %li.active 詳細
  .col-xs-5
    .text-right
      = link_to '保存', '#', { role: 'button', class: 'btn btn-default' }
      = link_to '提出', '#', { role: 'button', class: 'btn btn-default' }
  .col-xs-12
    .page-header
      %h3
        = @checklist.title
        %small= link_to '編集', edit_checklist_path(@checklist)

.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= t('activerecord.attributes.checklist.id')
      %dd= @checklist.id
      %dt= t('activerecord.attributes.checklist.start_at')
      %dd= @checklist.start_at
      %dt= t('activerecord.attributes.checklist.due_at')
      %dd= @checklist.due_at
      %dt= t('activerecord.attributes.checklist.checker')
      %dd= @checklist.checker
  .col-xs-6
    %dl.dl-horizontal
      %dt  ステータス
      %dd
        .progress{ style: 'margin-bottom: 0;' }
          .progress-bar.progress-bar-success{ role: 'progressbar', aria: { valuenow: '20', valuemin: '0', valuemax: '100' }, style: 'width: 20%;' }20%
      %dt= t('activerecord.attributes.checklist.submit_at')
      %dd= @checklist.submit_at
      %dt= t('activerecord.attributes.checklist.submitter')
      %dd= @checklist.submitter

%hr.separator

= render 'check_form'
