.row
  .col-xs-7
    %ol.breadcrumb
      %li= link_to 'チェックリスト', checklists_path
      %li.active 詳細
  .col-xs-5
    .text-right.link-button-group
      = link_to '保存', '#', { role: 'button', class: 'btn btn-default' }
      = link_to '提出', '#', { role: 'button', class: 'btn btn-default' }
  .col-xs-12
    %h4.page-title= @checklist.title

.row
  .col-xs-6
    %dl.dl-horizontal
      %dt  開始日時
      %dd= @checklist.start_at
      %dt  期限
      %dd= @checklist.due_at
      %dt  担当者
      %dd= @checklist.checker
  .col-xs-6
    %dl.dl-horizontal
      %dt  提出日時
      %dd= @checklist.submit_at
      %dt  提出者
      %dd= @checklist.submitter

%hr
