= simple_form_for [template, form_item] do |f|
  = f.error_notification

  .form-inputs
    = f.input :label, autofocus: true
    - if action_name == 'new' || action_name == 'create'
      - types = FormItem.types_collection
      = f.input :type, as: :radio_buttons, item_wrapper_class: 'radio-inline radio-form', collection: types

  .form-group
    .form-actions
      = f.button :submit
